body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.download-button {
    background-color: #008CBA;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.download-button:hover {
    background-color: #00779f;
}

.convertmore-button {
        background-color: #24A0ED;
        color: white;
        padding: 15px 30px;
        font-size: 18px;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        display: inline-block;
        margin-top: 15px;
    }

    .convertmore-button:hover {
        background-color: #24A0ED;
    }

/* Media Query for screens smaller than 600px (typical mobile devices) */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    input[type="file"] {
        margin-bottom: 10px;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }

    .download-button {
        padding: 10px 20px;
        font-size: 16px;
    }

    .convertmore-button {
        padding: 10px 20px;
        font-size: 16px;
    }
    /* Add this style for the delete button */
    .delete-button {
        background-color: #ff4444;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .delete-button:hover {
        background-color: #cc0000;
    }

    
}